/* Product Cards */
.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
  width: 300px;
  flex-shrink: 0;
}

.product-card:hover {
  transform: translateY(-5px);
  border: 2px solid orange;
}

.product-card .card {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.image-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.description-info {
  padding: 1rem;
  background-color: #e4e2dd;
  height: 14rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-price {
  font-size: 1.1rem;
  color: #e05d09;
}

.product-description {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
}