* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
} */

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button[type="submit"] {
  background-color: #e05d09;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}